extends layout
block content
  body.page.page-id-174.page-template-default.group-blog.masthead-fixed.full-width.singular
    #wrapper.hfeed.site
      .header-wrapper
        header#header(role='banner')
          .header-inner.container.clearfix
            .logo
              a(href='http://www.coworker.org')
                img(src='http://about.coworker.org/wp-content/themes/coworker/images/logo.png', alt='coworker.org')
            form.navbar-search(action='http://www.coworker.org/petitions/search', method='GET')
              input.search-query(name='q', placeholder='Search')
              a#search-campaign.search-button(href="javascript:jQuery('form.navbar-search').submit();")
                i.fa.fa-search
            .header-buttons
              ul.nav
                li
                  a#nav-start-petition(href='http://www.coworker.org/petition/new?source=header') Start a campaign
                li
                  a#nav-login(href='http://www.coworker.org/users/sign_in') Log in
      #wrapper-main.clearfix.container
        #main.main-content.row
          #primary.clearfix.col-md-10
            #content.site-content(role='main')
              article#post-174
                header.entry-header
                  h1.entry-title #{company.name}
                  .entry-meta
                .entry-content
                  .row
                    .col-md-9
                      h2 27,890 members on Coworker.org, including:
                      .row
                        .col-sm-8.data-section
                          #scrolling
                            div Susan D.
                            div Molly A.
                            div Abby R.
                            div Doug S.
                            div Lisa M.
                            div Taylor W.
                            div Peter C.
                            div Rachel E.
                            p
                        .col-sm-4.join-section
                          .join-section-button
                            a.ak-styled-submit-button(href='') Join this network
                      h2 Trending Efforts:
                      .current-efforts
                        div
                            #campaigns
                              each cause in company.campaigns
                                .campaign
                                  .img
                                    img(src=cause.img)
                                    #parent
                                      .right(style='width: calc(#{cause.goal-cause.signatures}/#{cause.goal} * 100%)')
                                      .left 
                                      .clear
                                  .content
                                    a.name(href="#") #{cause.name}
                                    .Description
                                      p #{cause.Description}
                                    hr
                                    .signatures
                                      p
                                        i
                                          mark #{cause.signatures}
                                          |  of 
                                          b #{cause.goal}
                                          |  signatures      
                                    .goal
                                    .creator
                                      p
                                        | Created by 
                                        mark #{cause.creator}
                                        img.profile(src='/image/profile.jpeg')
                                  .clear
                    .employer-info.col-md-3
                      h2#company_detail
                        | Company Details
                        #logo
                          img(style='border: 1px solid lightgray; padding: 3px; width: 75px', src='https://s3.amazonaws.com/s3.coworker.org/images/Screenshot_2016-03-11_at_9.17.56_AM.png', alt='')
                      dl
                        each value, detail in company.stats
                          dt #{detail}
                          dd #{value}
                        dt Company website
                        dd #[a(href="company.url") #{company.url}]
      block footer
        include footer