doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='', dir='', xmlns:og='http://opengraphprotocol.org/schema/')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='', dir='', xmlns:og='http://opengraphprotocol.org/schema/')  
//if IE 8
  html.no-js.lt-ie9(lang='', dir='', xmlns:og='http://opengraphprotocol.org/schema/')  
// [if gt IE 8] <!
html.no-js(lang='en-US', xmlns:og='http://opengraphprotocol.org/schema/')
  // <![endif]
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0')
    title Starbucks | Coworker
    link(rel='profile', href='http://gmpg.org/xfn/11')
    link(rel='pingback', href='http://about.coworker.org/xmlrpc.php')
    link(rel='alternate', type='application/rss+xml', title='Coworker » Feed', href='http://about.coworker.org/feed/')
    link(rel='alternate', type='application/rss+xml', title='Coworker » Comments Feed', href='http://about.coworker.org/comments/feed/')
    link#coworker-googlefonts-css(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Bree+Serif', type='text/css', media='all')
    link#coworker-fontawesome-css(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css?ver=4.1.0', type='text/css', media='all')
    link#coworker-bootstrap-css-css(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css?ver=3.1.1', type='text/css', media='all')
    link#coworker-style-css(rel='stylesheet', href='http://about.coworker.org/wp-content/themes/coworker/style.css?ver=4.4.2', type='text/css', media='all')
    link(rel='stylesheet', href='/public/style.css')
    link(rel='https://api.w.org/', href='http://about.coworker.org/wp-json/')
    link(rel='EditURI', type='application/rsd+xml', title='RSD', href='http://about.coworker.org/xmlrpc.php?rsd')
    link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='http://about.coworker.org/wp-includes/wlwmanifest.xml')
    link(rel='canonical', href='http://about.coworker.org/starbucks/')
    link(rel='shortlink', href='http://about.coworker.org/?p=174')
    link(rel='alternate', type='application/json+oembed', href='http://about.coworker.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fabout.coworker.org%2Fstarbucks%2F')
    link(rel='alternate', type='text/xml+oembed', href='http://about.coworker.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fabout.coworker.org%2Fstarbucks%2F&format=xml')
    //if lt IE 9
      link#coworker-ie-css(rel='stylesheet', href='http://about.coworker.org/wp-content/themes/coworker/css/ie.css?ver=20131205', type='text/css', media='all')
    script(type='text/javascript', src='http://about.coworker.org/wp-includes/js/jquery/jquery.js?ver=1.11.3')
    script(type='text/javascript', src='http://about.coworker.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1')
    script(type='text/javascript', src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js?ver=3.1.1')
    script(type='text/javascript', src='http://about.coworker.org/wp-content/themes/coworker/js/modernizr.js?ver=20140213')
    script(type='text/javascript', src='http://about.coworker.org/wp-content/themes/coworker/js/wsutil.js?ver=20131209')
    meta(name='generator', content='WordPress 4.4.2')
  body.page.page-id-174.page-template-default.group-blog.masthead-fixed.full-width.singular
    #wrapper.hfeed.site
      .header-wrapper
        header#header(role='banner')
          .header-inner.container.clearfix
            .logo
              a(href='http://www.coworker.org')
                img(src='http://about.coworker.org/wp-content/themes/coworker/images/logo.png', alt='coworker.org')
            form.navbar-search(action='http://www.coworker.org/petitions/search', method='GET')
              input.search-query(name='q', placeholder='Search')
              a#search-campaign.search-button(href="javascript:jQuery('form.navbar-search').submit();")
                i.fa.fa-search
            .header-buttons
              ul.nav
                li
                  a#nav-start-petition(href='http://www.coworker.org/petition/new?source=header') Start a campaign
                li
                  a#nav-login(href='http://www.coworker.org/users/sign_in') Log in
        // #header
      #wrapper-main.clearfix.container
        #main.main-content.row
          //
            <nav class="col-sm-4" role="navigation">
            <h1 class="navigation-header menu-toggle"><i class="fa fa-bars"></i> Navigation</h1>
            <div class="nav-menu">
            <ul id="menu-navigation" class="menu">
            <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18">
            <a href="http://about.coworker.org/">About Us<i class="fa fa-chevron-right"></i></a></li>
            <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="http://about.coworker.org/why-workplace-democracy-matters/">Why Workplace Democracy Matters<i class="fa fa-chevron-right"></i></a></li>
            <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="http://about.coworker.org/team/">Team<i class="fa fa-chevron-right"></i></a></li>
            <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15"><a href="http://about.coworker.org/community-guidelines/">Community Guidelines<i class="fa fa-chevron-right"></i></a></li>
            <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14"><a href="http://about.coworker.org/frequently-asked-questions/">Frequently Asked Questions<i class="fa fa-chevron-right"></i></a></li>
            </ul>
            </div>
            </nav>
          #primary.clearfix.col-md-10
            #content.site-content(role='main')
              article#post-174
                header.entry-header
                  h1.entry-title Starbucks
                  .entry-meta
                  // .entry-meta
                // .entry-header
                .entry-content
                  .row
                    .col-md-9
                      h2 27,890 members on Coworker.org, including:
                      .row
                        .col-sm-8.data-section
                          #scrolling
                            div Susan D.
                            div Molly A.
                            div Abby R.
                            div Doug S.
                            div Lisa M.
                            div Taylor W.
                            div Peter C.
                            div Rachel E.
                            p
                        .col-sm-4.join-section
                          .join-section-button
                            a.ak-styled-submit-button(href='') Join this network
                      h2 Trending Efforts:
                      .current-efforts
                        div
                            #campaigns
                              each cause in company.campaigns
                                .campaign
                                  .img
                                    img(src=cause.img)
                                    #parent
                                      .right(style='width: calc(#{cause.goal-cause.signatures}/#{cause.goal} * 100%)')
                                      .left 
                                      .clear
                                  .content
                                    a.name(href="#") #{cause.name}
                                    .Description
                                      p #{cause.Description}
                                    hr
                                    .signatures
                                      p
                                        i
                                          mark #{cause.signatures}
                                          |  of 
                                          b #{cause.goal}
                                          |  signatures      
                                    .goal
                                    .creator
                                      p
                                        | Created by 
                                        mark #{cause.creator}
                                        img.profile(src='/image/profile.jpeg')
                                  .clear                                  
                        
                    // col-sm-9
                    .employer-info.col-md-3
                      h2#company_detail
                        | Company Details
                        #logo
                          img(style='border: 1px solid lightgray; padding: 3px; width: 75px', src='https://s3.amazonaws.com/s3.coworker.org/images/Screenshot_2016-03-11_at_9.17.56_AM.png', alt='')
                      dl
                        dt Industry:
                        dd Food and Beverage
                        dt Type:
                        dd Public — traded as SBUX (NASDAQ)
                        dt Revenue:
                        dd $16.447 billion (2014)
                        dt Workforce:
                        dd 191,000 employees (2014)
                        dt Number of Locations:
                        dd 23,768
                        dt HQ Location:
                        dd Seattle, Washington
                        dt CEO:
                        dd Howard Schultz
                        dt Website:
                        dd starbucks.com
                    // employer-info col-sm-3
                  // row
                // .entry-content
              // #post-##
            // #content
          // #primary
        // #main
      // #wrapper-main
      .footer-wrapper
        footer#footer.site-footer.clearfix.container(role='contentinfo')
          .footer-links
            a.footer-link(href='https://www.coworker.org/tos') Terms & Conditions
            a.footer-link(href='https://www.coworker.org/community') Community
            a.footer-link(href='https://www.coworker.org/privacy_policy') Privacy
            a.footer-link(href='http://about.coworker.org/') About Us
            a.footer-link(href='https://www.coworker.org/media') Media
            a.follow.facebook.vmiddle(href='http://www.facebook.com/teamcoworker')
              img(alt='Facebook', src='http://about.coworker.org/wp-content/themes/coworker/images/icon-facebook-footer.png')
            a.follow.twitter.vmiddle(href='//www.twitter.com/teamcoworker')
              img(alt='Twitter', src='http://about.coworker.org/wp-content/themes/coworker/images/icon-twitter-footer.png')
        // #footer
      // /.footer-wrapper
    // #wrapper
    script(type='text/javascript', src='http://about.coworker.org/wp-includes/js/wp-embed.min.js?ver=4.4.2')
    script(type='text/javascript').
      var j = jQuery;
      j(window).load(function() {
      var last;
      var incr = function() {
      if (last) {
      last.prependTo("#scrolling").slideDown();
      }
      last = j("#scrolling > div").last();
      last.slideUp();
      };
      var height = j("#scrolling").height();
      j("#scrolling").css("height", height).css("overflow-y", "hidden");
      j(".join-section").css("height", j(".data-section").height());
      incr();
      window.setInterval(incr, 2000);
      });
    script(type='text/javascript').
      window._wpemojiSettings = {"baseUrl":"https:\\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/about.coworker.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.2"}};
      !function(a,b,c){function d(a){var c,d=b.createElement("canvas"),e=d.getContext&&d.getContext("2d"),f=String.fromCharCode;return e&&e.fillText?(e.textBaseline="top",e.font="600 32px Arial","flag"===a?(e.fillText(f(55356,56806,55356,56826),0,0),d.toDataURL().length>3e3):"diversity"===a?(e.fillText(f(55356,57221),0,0),c=e.getImageData(16,16,1,1).data.toString(),e.fillText(f(55356,57221,55356,57343),0,0),c!==e.getImageData(16,16,1,1).data.toString()):("simple"===a?e.fillText(f(55357,56835),0,0):e.fillText(f(55356,57135),0,0),0!==e.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
