//- extends layout
title #{company.name} 
h2 Petitions within #{company.name}
script.
  //- console.log(#{company})
#campaigns
  each cause in company.campaigns
    .campaign
      span #{cause.creator}
      img.img(src=cause.img)