//- extends layout
title #{company.name} 
h2 Petitions within #{company.name}
script.
  //- console.log(#{company})
  each cause in company.campaigns
    .campaign
        .img
          img(src=#{campaign.img})
        .name
          
        .Description
        .signatures
        .goal
        .creator
      
      span #{cause.creator}
      img.img(src=cause.img)
